*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
#app{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: none;
}
body{
    background-color: rgb(176,224,230);
}
.green-shadow:hover{
    box-shadow: -2px 3px 7px 3px green;
}
.yellow-shadow:hover{
    box-shadow: -2px 3px 7px 3px yellow;
}
.red-shadow:hover{
    box-shadow: -2px 3px 7px 3px rgb(229, 47, 47);
}
.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.math-problem{
    text-decoration: none;
    width:calc(100% - 28px);
    box-sizing: border-box;
    background-color: inherit;
    color: black;
    padding: 6px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 14px;
    margin-right: 14px;
    overflow: hidden;
    transition: box-shadow 0.15s ease-in-out,background-color 0.15s ease-in-out;
    transition-delay: 84ms;
    word-wrap: break-word;
}
.math-problem:hover{
    background-color: rgb(209, 238, 243);
}
.math-problem .tilte{
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: block;  
}
.math-problem .difficult-cover{
    margin:-6px;
    display: flex;
    border-radius: 12px;
    align-items: center;
}
